In [79]:
import sys
import importlib

import geopandas as gpd
import Reorder
import Label_line

importlib.reload(sys.modules['Reorder'])
importlib.reload(sys.modules['Label_line'])

In [59]:
def print_coords(gdf):
    for _, row in gdf.iterrows():
        coords = list(row['geometry'].coords)
        for (x, y) in coords:
            print(x, y)
        print()

In [5]:
# This is a shapefile with only 2 lines, both running approx NS.
# The left line (drawn first, thus numbered first) was drawn N->S, the right S-> N
ns_shp_path = r"C:\Users\Mike\Documents\GitHub\Data-Automate-labelling-\test_data\longhan-fn-testing-ns.shp"
# This is a shapefile with only 2 lines, both running approx EW.
# The top line (drawn first, thus numbered first) was drawn W->E, the bottom E-> W
ew_shp_path = r"C:\Users\Mike\Documents\GitHub\Data-Automate-labelling-\test_data\longhan-fn-testing-ew.shp"

# Check Reorder works

In [67]:
ns = gpd.read_file(ns_shp)
ns

     id row_number                                           geometry
0  None       None  LINESTRING (282182.515 6249874.354, 282180.739...
1  None       None  LINESTRING (282199.729 6249808.200, 282199.729...

In [68]:
ew = gpd.read_file(ew_shp)
ew

     id row_number                                           geometry
0  None       None  LINESTRING (282211.076 6249850.888, 282264.106...
1  None       None  LINESTRING (282263.103 6249831.049, 282212.620...

In [81]:
ns2 = gpd.GeoDataFrame((Reorder.reorder(ns, 'north')))
print_coords(ns)
print_coords(ns2)

282182.51477259095 6249874.353796474
282180.7393627249 6249808.740823164

282199.7285291181 6249808.200481031
282199.7285291181 6249873.967837807

282182.51477259095 6249874.353796474
282180.7393627249 6249808.740823164

282199.7285291181 6249873.967837807
282199.7285291181 6249808.200481031

In [82]:
ns3 = gpd.GeoDataFrame(Reorder.reorder(ns, 'south'))
print_coords(ns)
print_coords(ns3)

282182.51477259095 6249874.353796474
282180.7393627249 6249808.740823164

282199.7285291181 6249808.200481031
282199.7285291181 6249873.967837807

282180.7393627249 6249808.740823164
282182.51477259095 6249874.353796474

282199.7285291181 6249808.200481031
282199.7285291181 6249873.967837807

In [83]:
ew2 = gpd.GeoDataFrame(Reorder.reorder(ew, 'east'))

print_coords(ew)
print_coords(ew2)

282211.07571391406 6249850.887509549
282264.1064346951 6249850.887509549

282263.1029421621 6249831.049234089
282212.61954858014 6249833.287794355

282264.1064346951 6249850.887509549
282211.07571391406 6249850.887509549

282263.1029421621 6249831.049234089
282212.61954858014 6249833.287794355

In [84]:
ew3 = gpd.GeoDataFrame(Reorder.reorder(ew, 'east'))
print_coords(ew)
print_coords(ew3)

282211.07571391406 6249850.887509549
282264.1064346951 6249850.887509549

282263.1029421621 6249831.049234089
282212.61954858014 6249833.287794355

282264.1064346951 6249850.887509549
282211.07571391406 6249850.887509549

282263.1029421621 6249831.049234089
282212.61954858014 6249833.287794355

# Check Label works

In [52]:
ns

,id,row_number,geometry,x
0,None,None,"LINESTRING (282182.515 6249874.354, 282180.739...",282181.627068
1,None,None,"LINESTRING (282199.729 6249808.200, 282199.729...",282199.728529

In [53]:
Label_line.count_line('west', 1, ns)

     id  row_number                                           geometry
0  None           1  LINESTRING (282182.515 6249874.354, 282180.739...
1  None           2  LINESTRING (282199.729 6249808.200, 282199.729...

In [54]:
Label_line.count_line('east', 1, ns)

     id  row_number                                           geometry
0  None           2  LINESTRING (282182.515 6249874.354, 282180.739...
1  None           1  LINESTRING (282199.729 6249808.200, 282199.729...

In [55]:
ew

,id,row_number,geometry,y
0,None,None,"LINESTRING (282211.076 6249850.888, 282264.106...",6.249851e+06
1,None,None,"LINESTRING (282263.103 6249831.049, 282212.620...",6.249832e+06

In [56]:
Label_line.count_line('south', 1, ew)

     id  row_number                                           geometry
0  None           2  LINESTRING (282211.076 6249850.888, 282264.106...
1  None           1  LINESTRING (282263.103 6249831.049, 282212.620...

In [57]:
Label_line.count_line('north', 1, ew)

     id  row_number                                           geometry
0  None           1  LINESTRING (282211.076 6249850.888, 282264.106...
1  None           2  LINESTRING (282263.103 6249831.049, 282212.620...